<%= render template: "shared/admins_header" %>
<div class="container">
	<div class="row center">
		<div class="col-md-6">
			<h3>Upload Your Photo</h3>
			<%= render template: "photos/new", class: "center"%>
		</div>
		<div class="col-md-6">
			<h3>Edit Your Photo</h3>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" data-target="#all_photos">All Photos</a></li>
				<li><a data-toggle="tab" data-target="#head_photos">Headshots</a></li>
				<li><a data-toggle="tab" data-target="#event_photos">Events</a></li>
				<li><a data-toggle="tab" data-target="#recreation_photos">Recreation</a></li>
			</ul>
			<div class="tab-content" id="photo_tab">
				<div id="all_photos" class="tab-pane fade in active">
					<%= render("admins/tab_photo", var: @photos) %>
				</div>
				<div id="head_photos" class="tab-pane fade">
					<%= render("admins/tab_photo", var: @photos_head) %>
				</div>
				<div id="event_photos" class="tab-pane fade">
					<%= render("admins/tab_photo", var: @photos_event) %>
				</div>
				<div id="recreation_photos" class="tab-pane fade">
					<%= render("admins/tab_photo", var: @photos_recreation) %>
				</div>
			</div>
		</div>
	</div>
</div>
			
			