<%= render template: "shared/admins_header" %>
<div class="container">
	<div class="row center">
		<div class="col-md-6">
			<h3>Upload Your Video</h3>
			<div class="well center marginTopMin">
				<%= render template: "videos/new" %>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Edit Your Video</h3>
			<ul class="nav nav-tabs">
				<li class="active"><%= link_to("All Videos", "", data: { toggle: "tab", target: "#all_videos" }) %></li>
				<% @video_cats.each do |cat| %>
					<li><%= link_to(cat.name, "", data: { toggle: "tab", target: "#" + cat.name.delete(" ") + "_video" }) %></li>
				<% end %>
				<li><%= link_to((fa_icon "plus"), new_video_category_path, data: { toggle: "", target: "" }) %></li>
			</ul>
			<div class="tab-content" id="video_tab">
				<div id="all_videos" class="tab-pane fade in active">
					<%= render("admins/tab", var: @videos) %>
				</div>
				<% @video_cats.each do |cat| %>
				<div id="<%= cat.name.delete(" ") %>_video" class="tab-pane fade">
					<%= render("admins/tab", var: cat.videos) %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

