<div id="photo">
	<div class="fifty center marginTop">
		<h1>Photo</h1>
		<p class="lead">Feel free to have a look at my work</p>
	</div>
	<div class="fifty">
		<%= image_tag("test.png", class:"vara_big_pic") %>
	</div>
	<div class="photo_carousel">
		<div><%= image_tag("test1.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test2.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test3.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test5.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test4.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test6.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test7.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test8.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test9.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test10.png", class:"vara_small_pic") %></div>
		<div><%= image_tag("test11.png", class:"vara_small_pic") %></div>
	</div>
</div>