<div id="home">
	<div class="video_background">
		<iframe src="https://www.youtube.com/embed/Jp3voeeeWsU?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=Jp3voeeeWsU" frameborder="0" allowfullscreen></iframe>
		<div class="overlay">
			<ul>
				<li><%= link_to("Home", "#",  class: "to_home") %></li>
				<li><%= link_to("Video", "#video") %></li>
				<li><%= link_to("Photo", "#photo") %></li>
				<li><%= link_to("Contact", "#contact") %></li>
				<% if admin_signed_in? %>
					<li><%= link_to("ADMIN", admins_path) %></li>
				<% end %>
			</ul>
			<div class="vara_logo_home">
				<div class="vara_logo_title center">
					<h1>VARA REESE</h1>
					<h2>Videographer & Editor</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="photo_background fullHeight_home">
		<div class="vara_logo_home">
			<div class="vara_logo_title center">
				<h1>VARA REESE</h1>
				<h2>Videographer & Editor</h2>
			</div>
		</div>
	</div>
</div>
<%= render( template: "videos/index") %>
<%= render( template: "photos/index") %>
<%= render template: "contact_forms/new" %>


