<%= render template: "shared/admins_header" %>
<div class="container center">
	<%= render("video_categories/form") %>
	<div class="col-md-6 col-md-offset-3 marginTop">
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Video Category</th>
		        <th>Image</th>
		        <th>Edit/Delete</th>
		      </tr>
		    </thead>
		    <tbody>
			<% @video_cats.each do |cat| %>
				<tr>
        			<td><%= cat.name %></td>
        			<td><%= image_tag(cat.image, class: "video_category_image_thumb") %></td>
        			<td><%= link_to("--Edit--", edit_video_category_path(cat)) %><%= link_to("--Delete--", video_category_path(cat), method: :delete) %></td>
      			</tr>
			<% end %>
			</tbody>
  		</table>
	</div>
</div>






      
  
    