<div id="contact">
	<div class="transition hide_in_mobile_view"></div>
	<div class="mobile_transition"><%= image_tag("VaraContactMobile.jpg", class: "contact_mobile_pic") %></div>
	<div class="container center marginTop">
		<div class="row">
			<div class="col-md-6">
				<% flash.each do |message_type, message| %>
            		<div class="alert alert-<%= message_type %>">
                		<%= message %>
                		<a class="close" data-dismiss="alert">&#215;</a>
            		</div>
        		<% end %>
				<%= simple_form_for @contact_form, :url => contact_forms_path(@contact_form, :anchor => "contact") do |f| %>
				<%= f.input :name, placeholder: "Your Name Here", error: "Your name is required." %>
				<%= f.input :email, placeholder: "Your Email Here", error: "Your email is required."  %>
				<%= f.input :message, as: :text, input_html: { rows: 6 }, required: true, error: "A short message is required too!" %>
				<%= f.button :submit, "Send" %>
				<% end %>
			</div>
			<div class="col-md-6">
				<h1>Thank you for visiting!</h1>
				<p class="lead">This visual journal of photos and videos that I've shot professionally over the years displays some of the beauty that I've discovered in my affiliations and explorations.</p>
				<p class="lead">If you're interested in booking me for your next project, please fill out this form for any pricing quotes and inquiries.</p>
				<h2>I look forward to collaborating with you!</h2>
				<%= link_to((fa_icon "facebook-square 2x"), "https://www.facebook.com/Vara-Reese-698302000273416/", target: "_blank", class: "contact_social_icon") %>
				<%= link_to((fa_icon "instagram 2x"), "https://www.instagram.com/varareese/", target: "_blank", class: "contact_social_icon") %>
				<%= link_to((fa_icon "linkedin-square 2x"), "https://www.linkedin.com/in/varareese", target: "_blank", class: "contact_social_icon") %>
				<%= link_to((fa_icon "vimeo-square 2x"), "https://vimeo.com/varareese", target: "_blank", class: "contact_social_icon") %>
				<%= link_to((fa_icon "twitter-square 2x"), "https://twitter.com/vara_reese", target: "_blank", class: "contact_social_icon") %>
				<span class="imdb_icons_div">
					<%= link_to(image_tag('IMDbIcon1.png', class: "contact_imdb_icon"), "http://www.imdb.com/name/nm5000610/", target: "_blank") %>
					<%= link_to(image_tag('IMDbIcon2.png', class: "contact_imdb_icon hidden_icon"), "http://www.imdb.com/name/nm5000610/", target: "_blank") %>
				</span>
			</div>
		</div>
	</div>
</div>